/* Buttons */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font: inherit;
    font-family: 'Open Sans';
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    -webkit-appearance: none;
}

button:disabled,
button[disabled],
a:disabled,
a[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    font-family: 'Open Sans';
}

.btn {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: inherit;
    line-height: 26px;
    letter-spacing: inherit;
    text-align: center;
    -webkit-appearance: none;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a.btn {
    line-height: 28px;
}

.btn:focus,
.btn:active {
    outline: none
}

.btn::-moz-focus-inner {
    border: 0
}

.btn-default,
.btn-default:visited {
    background-color: rgb(59, 114, 197);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
	text-shadow: 0 1px 1px rgba(59, 114, 197, .7);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(59, 114, 197, .7);
    color: rgb(241, 241, 241) !important;
}

.dark-theme .btn-default {
    background-color: #0099ff;
    border: 1px solid #0061a1;
    box-shadow: inset 0 0 2px #7ecbff;
    color: #fff !important;
}

.btn-default:hover {
    background-color: #4b7ac2;
    color: #fff !important;
}

.dark-theme .btn-default:hover {
    background-color: #2a709e;
    color: #fff !important;
}

.btn-default:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-go,
.btn-go:visited {
    background-color: rgb(43, 209, 28);
    /* border: 1px solid #4d9e39; */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
	text-shadow: 0 1px 1px rgba(43, 209, 28, .7);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .3), 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 2px rgba(43, 209, 28, .7);
    color: #fff !important;
}

.btn-go:hover {
    background-color: #58c83d;
    color: #fff !important;
}

.btn-go:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-stop,
.btn-stop:visited {
    background-color: rgb(230, 62, 62);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
	text-shadow: 0 1px 1px rgba(230, 62, 62, .7);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(230, 62, 62, .7);
    color: #fff !important;
}

.btn-stop:hover {
    background-color: #d33838;
    color: #fff !important;
}

.btn-stop:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-basic {
    color: rgba(0, 0, 0, .6) !important;
    background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
	text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.dark-theme .btn-basic {
    background-color: #555;
    border: 1px solid #222;
    box-shadow: inset 0 0 3px #858585;
    color: #eee !important
}

.btn-basic:hover {
    background-color: #eaeef1;
}

.btn-basic:active {
	background-color: #d0d3d6;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

.btn-workarea {
    height: 30px;
    line-height: 30px;
    background-color: rgb(31, 64, 112) ;
    /* border: 1px solid #0b2347; */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
	text-shadow: 0 1px 1px rgba(31, 64, 112, .7);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(31, 64, 112, .7);
    /* box-shadow: inset 0 0 3px #436fb3; */
    color: #fff !important
}

.dark-theme .btn-workarea {
    background-color: #555;
    border: 1px solid #222;
    box-shadow: inset 0 0 3px #858585;
    color: #eee !important
}

.btn-workarea:hover {
    background-color: #c1c1c1;
    color: #333
}

.btn-workarea:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-small {
    height: 25px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 23px;
}

.btn-small i {
    line-height: 23px;
}

.btn-large {
    padding: 0 30px;
    line-height: 50px;
    font-size: 21px;
}

.btn-large i {
    font-size: 21px;
}

.btn.pull-right {
    margin-left: 5px !important;
    margin-right: 0 !important;
}

.btn.pull-left {
    margin-right: 5px !important;
    margin-left: 0 !important;
}

.btn-attached-left {
    margin-left: -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-attached-right {
    margin-right: -5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}