.this-month {
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    line-height: 28px;
}

.dark-theme .calendar-head .btn-next, .dark-theme .calendar-head .btn-prev {
    vertical-align: middle;
    color: #eee;
}

/* Tables */
.calendar table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    background-color: #fff;
}

.dark-theme .calendar table {
    background-color: #111;
}

table[data-view='day'],
table[data-view='week'] {
    table-layout: auto;
}

.calendar th {
    height: 40px;
    padding: 0;
    text-indent: 3px;
    background-color: #fafafa;
}

.dark-theme .calendar th {
    background-color: #222;
}

[data-view='day'] th,
[data-view='week'] {
    height: 30px;
    line-height: 30px;
}

.calendar th,
.calendar td {
    border: 1px solid #ccc;
}

.dark-theme .calendar th,
.dark-theme .calendar td {
    border: 1px solid #444;
}

.calendar td {
    position: relative;
    vertical-align: top;
    height: 140px;
    padding: 0 2px;
    overflow: visible;
}

@media only screen and (max-width:768px) {
    .calendar td {
        height: 70px;
    }
}

@media only screen and (max-width:414px) {
    .calendar td {
        height: 50px;
    }
}

.calendar td.nm,
.calendar td.om {
    color: #aaa;
}

.calendar .cm:hover {
    cursor: pointer;
}

[data-view='week'] td {
    width: 200px;
    max-width: 200px;
}

[data-view='day'] td,
[data-view='week'] td {
    height: 30px;
    line-height: 30px;
}

[data-view='day'] td:first-child,
[data-view='week'] td:first-child {
    width: 60px;
    padding: 0 5px;
}

.calendar .today {
    color: #3561a3;
    font-weight: bold;
}

.calendar .today:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7px;
    background-color: #3561a3;
}

.dark-theme .calendar .today:before {
    background-color: #0099ff;
}

.calendar-head button {
    overflow: hidden;
}

.dark-theme .calendar-head button {
    color: #0099ff;
}

.calendar-head .btn-prev {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    padding-right: 10px;
    margin-right: 5px;
    line-height: 28px;
}

.calendar-head .btn-next {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    padding-left: 10px;
    margin-left: 5px;
    line-height: 28px;
}

.calendar .events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 140px;
}

.calendar .event {
    justify-content: space-evenly;
    max-width: 100%;
    min-width: 0px;
    position: relative;
    margin: 2px 0;
    padding: 0 5px;
    background-color: #b9dae2;
    color: #142f36;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    line-height: 21px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[data-view='month'] .event {
    flex: 1 1 35px;
}

[data-view='week'] .event {
    flex: 1 1 10px;
    height: 26px;
    line-height: 26px;
}

[data-view='day'] .event {
    flex: 1 1 10px;
    height: 26px;
    line-height: 26px;
}

.calendar .event:hover {
    cursor: pointer;
}

.calendar .event p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.calendar .event.shrink p {
    padding: 0;
}

.event-large {
    position: absolute;
    z-index: 1000;
    bottom: 160%;
    left: 50%;
    width: 400px;
    height: 165px;
    margin-left: -200px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .3);
    color: #555;
    font-size: 15px;
    line-height: 21px;
    white-space: normal;
    cursor: default;
}

.calendar td:first-child .event-large {
    top: -72px;
    right: -415px;
    left: auto;
    margin: 0;
}

.calendar td:last-child .event-large {
    top: -72px;
    right: auto;
    left: -415px;
    margin: 0;
}

.event-large-header {
    padding: 5px 15px 5px 15px;
    background-color: #b9dae2;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: rgba(0, 0, 0, .6);
    font-size: 12px;
}

.event-large-header a,
.event-large-header a:visited,
.event-large-header button,
.dark-theme .event-large-header a,
.dark-theme .event-large-header a:visited,
.dark-theme .event-large-header button {
    float: right;
    vertical-align: middle;
    height: 22px;
    line-height: 24px;
    font-size: 12px;
    color: inherit;
}

.event-large-header button {
    margin-left: 15px;
}

.event-large p {
    position: relative;
    float: left;
    width: 100%;
    min-height: 135px;
    border-radius: 4px;
    z-index: 999;
    padding: 15px 15px 55px 15px !important;
    background-color: #fff;
    text-overflow: none !important;
    white-space: normal !important;
    font-weight: normal !important;
}

.event-large span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px 15px 10px 15px;
    font-size: 13px;
}

.event-large:after {
    content: '';
    position: absolute;
    z-index: 100;
    bottom: -5px;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: 33px 0 0 -20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .3);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.calendar td:first-child .event-large:after {
    top: 50%;
    bottom: auto;
    right: auto;
    left: -5px;
    margin: -20px 33px 0 0;
}

.calendar td:last-child .event-large:after {
    top: 50%;
    bottom: auto;
    right: -5px;
    left: auto;
    margin: -20px 0 0 33px;
}

.btn-cal-day {
    display: block;
    clear: both;
    padding: 0;
    text-align: left;
    color: #333 !important;
    font-size: 15px;
}

@media only screen and (max-width:768px) {
    .btn-cal-day {
        font-size: 12px;
    }
}

.calendar.mini .btn-cal-day {
    font-size: 12px;
}

.dark-theme .btn-cal-day {
    color: #eee !important;
}

.today .btn-cal-day {
    color: #3561a3 !important;
}

.dark-theme .today .btn-cal-day {
    color: #0099ff !important;
}

.time-td {
    text-align: right;
}

.calendar em {
    font-style: normal;
}

#calendar-new-event {
    overflow: hidden;
}

#new-event-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(6px);
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    filter: url("blur.svg#gaussian_blur");
}

#new-event-overlay.open {
    opacity: 1;
}

#calendar-form {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    transform: translate(-780px, 0);
    width: 750px;
    padding: 55px 30px;
    border-right: 1px solid #ccc;
    box-shadow: 10px 0 5px -2px rgba(0, 0, 0, .1);
    background-color: #fff;
    transition: all .5s ease-in-out;
}

#calendar-form.open {
    transform: translate(0, 0);
}

#calendar-form span {
    position: absolute;
    top: 12px;
    left: 30px;
    font-size: 21px;
}

#calendar-form input[type="radio"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 3px;
    font-size: 15px;
    line-height: 20px;
    transition: all .1s ease-in-out;
}

#calendar-form input[type="radio"]:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid transparent;
    transform: scale(.6);
    transition: all .2s ease-in-out;
}

#calendar-form input[type="radio"].cyan:after { background-color: #b9dae2; }
#calendar-form input[type="radio"].blue:after { background-color: #87b2e9; }
#calendar-form input[type="radio"].red:after { background-color: #ec8181; }
#calendar-form input[type="radio"].green:after { background-color: #89cf97; }
#calendar-form input[type="radio"].purple:after { background-color: #db9adb; }
#calendar-form input[type="radio"].pink:after { background-color: #ffc0cb; }
#calendar-form input[type="radio"].yellow:after { background-color: #ffe279; }

#calendar-form input[type="radio"]:checked:after {
    animation: pop .2s ease 1 normal forwards;
}

@keyframes pop {
    0% { transform: scale(0); }
    25% { transform: scale(.5); }
    50% { transform: scale(1.3); }
    100% { transform: scale(.9); }
}

.calendar .btn-event-close {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 999;
}