.ff-form label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.ff-row {
    margin-bottom: 15px;
}

.ff-label {
    position: absolute;
    z-index: 999;
    left: 15px;
    color: #777;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    transition:all .2s ease-in-out;
}

.ff-label.inline {
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    margin: 0;
    line-height: 40px;
    font-size: 13px;
}

.ff-label.required:after {
    content: '*';
    display: inline-block;
    vertical-align: middle;
    color: #e76464;
    font-size: 15px;
    transform: translate(2px, 1px);
}

.ff-label.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    color: rgba(51, 51, 51, 0.5);
    font-family: Arial;
}

.ff-label-shrink {
    line-height: 20px;
    font-size: 10px !important;
    color: #888;
}

.ff-input[type="text"] {
    -webkit-appearance: none;
}

.ff-input,
.ff-textarea,
.ff-select {
    vertical-align: middle;
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding: 15px 0 0 15px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.1);
    font-family: Arial;
    font-weight: normal;
    letter-spacing: inherit;
    transition:all .2s ease-in-out;
}

.ff-select {
    padding: 15px 0 0 11px;
    text-indent: 0;
}

.ff-form input[type="checkbox"], .ff-form input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    box-shadow: none;
}

.ff-input[type="submit"] {
    cursor: pointer;
    letter-spacing: inherit
}

.ff-input[type="color"] {
    box-shadow: none;
    width: 125px;
    padding: 0;
}

.ff-input[type="range"] {
    box-shadow: none;
}

.ff-input[type="file"] {
    padding: 7px 0 0 70px;
    box-shadow: none;
}

.ff-input[type="file"] + label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    background-color: #165f9b;
    border: 1px solid #0e4979;
    border-radius: 4px;
    box-shadow: inset 0 0 2px #2682ce;
    color: #fff;
    line-height: 40px;
}

.ff-input[type="password"]::-ms-reveal {
    display: none; /* Disabled in favor of my own version of this until all browsers have a password reveal button or something better. */
}

.ff-input[type="date"]:after, .ff-input[type="time"]:after {
    content: '\27A8';
    position: absolute;
    right: 4px;
    bottom: 0;
    transform: translate(0, 10px) rotate(-90deg);
    font-size: 24px;
    color: #165f9b;
    animation: pulse 1.7s ease-in-out infinite;
}

.ff-input[type="time"]:after {
    right: 2px;
}

@keyframes pulse {
    0% {
        transform: translate(0, 25px) rotate(-90deg);
        opacity: .3;
    }
    50% {
        transform: translate(0, 35px) rotate(-90deg);
        opacity: 1;
    }
    100% {
        transform: translate(0, 25px) rotate(-90deg);
        opacity: .3;
    }
}

.ff-textarea {
    padding: 19px 0 0 15px;
    min-height: 175px;
    height: auto;
}

.ff-checkbox, .ff-radio {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    background-color: #fff;
    font-size: 15px;
    line-height: 20px;
    transition: all .1s ease-in-out;
}

.ff-checkbox {
    border-radius: 4px;
}

.ff-radio {
    border-radius: 50%;
    margin-right: 3px;
}

.ff-checkbox.checked {
    border: none;
}

.ff-checkbox:after {
    content: '\2713';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    background-color: #1382dd;
    border: 1px solid transparent;
    transform: scale(0);
    transition: all .1s ease-in-out;
}

.ff-radio:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    opacity: 0;
    border-radius: 50%;
    background-color: #1382dd;
    border: 1px solid transparent;
    transform: scale(0);
    transition: all .2s ease-in-out;
}

.ff-checkbox.checked:after, .ff-radio.checked:after {
    opacity: 1;
    animation: pop .2s ease 1 normal forwards;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1);
    }
}

.ff-input[type="text"]:disabled, .ff-select:disabled {
    pointer-events: none;
    opacity: .5;
    cursor: not-allowed;
    color: rgba(51, 51, 51, .5);
    font-family: Arial;
}

.input-attached-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-attached-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ff-button {
    height: 40px;
    line-height: 40px !important;
    font-size: 15px;
    text-decoration: none;
}

.fancy-form .password-strength {
    top: 14px;
}