/* File Browser */
.filebrowser {
    position: relative;
    float: left;
    width: 100%;
    height:100%;
    min-height: 360px;
    overflow: hidden;
    text-align: left;
}

.fb-titlebar {
    position: relative;
    float: left;
    z-index: 101;
    width: 100%;
    padding: 5px 5px; 
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, .6) !important;
    background-color: #f7f3f7;;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.fb-title {
    float: left;
}

.fb-actions {
    float: left;
    width: 100%;
    padding: 5px 5px; 
    color: rgba(0, 0, 0, .6) !important;
    background-color: #f7f3f7;;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.fb-actions hr {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 28px;
    margin: 0 10px 0 5px;
    background-color: #ccc;
    border: none;
}

.fb-actions button, .fb-actions a {
    margin-right: 5px;
}

.fb-titlebar .fb-btn-back {
    display: none;
}

.fb-content {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    max-height: 100%;
    transform: translate(0, -34px);
    padding-top: 34px;
}

.fb-fileview {
    float: left;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.fb-table {
    float: left;
    width: 100%;
}

.fb-table tr:hover {
    background-color: #eee;
}

.fb-table .check-cell {
    text-align: center;
}

.fb-dirs {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}

.fb-file button {
    float: left;
}

.fb-file p {
    display: inline-block;
    vertical-align: middle;
}

.fb-dir i, .fb-file i {
    font-size: 17px;
    color: rgba(0, 0, 0, .6);
}

#new-folder-form {
    display: inline-block;
}

#new-folder-form .btn-go {
    margin-right: 0;
}

.fb-btn-delete {
    float: right;
    color: #cc4646;
}

.fb-upload {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translate(0, 1000px);
    padding-top: 44px;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.fb-upload.open {
    transform: translate(0, 0);
}

.fb-thumbnail {
    display: inline-block;
    width: 20px;
    overflow: hidden;
    margin-right: 10px;
    vertical-align: middle;
}

.fb-dir-link i, .fb-file-link i {
    margin-right: 5px;
}

.fb-upload-form {
    position: relative;
    float: left;
    width: 24%;
    height: 100%;
    max-height: 100%;
    margin-right: 1%;
}

.fb-upload-form input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.fb-upload-form label {
    position: relative;
    float: left;
    width: 100%;
    height: 80%;
    background-color: #fdfdfc;
    border: 2px dashed #ddd;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
}

.fb-upload-form label span {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -48px;
    width: 100%;
  }

.fb-preview {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
    width: 75%;
    height: 100%;
    overflow-y: auto;
}

.fb-preview li {
    position: relative;
    flex: 1 0 9%;
    max-height: 100%;
    border-radius: 15px;
    border: 1px dashed #e7e7e7;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    list-style: none;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.fb-preview li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fb-preview li i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;   
    font-size: 40px;
}

.fb-preview li span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    opacity: 0;
}

.fb-preview li span:hover {
    background-color: rgba(0, 0, 0, .7);
    opacity: 1;
}

.fb-preview li em {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .7);
    color: #2176d6;
}

.fb-preview li em > i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px 5px;
    font-size: 12px;
}

.fb-preview li em i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px; 
    font-size: 40px;
}

.fb-files {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fb-upload-controls {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.fb-commit-upload, .fb-cancel-upload {
    float: right;
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
}

.fb-commit-upload {
    color: #427442;
}

.fb-cancel-upload {
    color: #e44040;
}

.fb-alert-area {
    float: left;
    margin-left: 15px;
}

.fb-row:focus {
    background-color: #f7f7f7;
    box-shadow: inset 0px 12px 3px -10px rgba(0, 0, 0, .1), inset 0px -11px 3px -10px rgba(0, 0, 0, .1); 
}