/* Header */
.header {
    height: 60px;
    background-color: #4582dd;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
	text-shadow: 0 1px 1px rgba(49, 106, 192, 0.7);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(59, 114, 197, .7);
    color: rgb(241, 241, 241) !important;
}

@media only screen and (max-width:414px) {
    .header {
        display: none;
    }
}

.dark-theme .header {
    background-color: #0c0c0c;
    border-bottom: 1px solid #171717;
}

/* Search */
.search {
    position: relative;
    float: left;
    height: 60px;
    margin-top: 15px;
    margin-left: 158px;
    text-align: left;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.search-icon {
    position: absolute;
    left: 5px;
    width: 40px;
    height: 30px;
    color: #b4b4b4;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
}

.dark-theme .search-icon {
    color: #e3e3e3;
}

.search input {
    float: left;
    width: 550px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: none;
    line-height: 30px;
    text-indent: 30px;
}

.search-results {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 100;
    clear: both;
    width: 550px;
    max-height: 500px;
    overflow-y: scroll;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.dark-theme .search-results {
    background-color: #37383b;
    border: 1px solid #777;
}

.search-results ul {
    list-style: none;
}

.search-results li {
    margin-bottom: 3px;
}

.search-results li:hover {
    cursor: pointer;
}

.search-results em {
    float: left;
    width: 100%;
    font-style: normal;
    font-weight: 600;
}


/* Account Navigation */
.account-nav .nav-toggle {
    float: left;
    width: 15px;
}

.account-nav li,
header .dropdown-menu li {
    position: relative;
    float: left;
}

.account-nav a,
.account-nav a:visited,
.account-nav button,
.account-nav button:visited {
    float: left;
    height: 60px;
    padding: 0 15px;
    border-radius: 4px;
    line-height: 60px;
    color: #333;
    font-size: 13px;
    font-family: inherit;
    font-weight: 600;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.dark-theme .account-nav a,
.dark-theme .account-nav a:visited,
.dark-theme .account-nav button,
.dark-theme .account-nav button:visited {
    color: #aaa;
}

.account-nav a img,
.account-nav button img {
    float: left;
    height: 30px;
    width: 30px;
    padding: 3px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.account-nav a i.dd-toggle {
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

header .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 100;
    transform: translate(0, -1px);
    padding: 0;
    opacity: 1;
    background-color: #fff;
    box-shadow: none;
    border: none;
}

.dark-theme header .dropdown-menu {
    background-color: #111;
}

header .dropdown-menu.active {
    padding: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

.dark-theme header .dropdown-menu.active {
    border: 1px solid #444;
}

header .dropdown-menu li {
    height: 0;
    padding: 0 15px;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

header .dropdown-menu li a,
header .dropdown-menu li a:visited,
header .dropdown-menu li button,
header .dropdown-menu li button:visited {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    text-align: left;
    line-height: 40px;
    white-space: nowrap;
}

.dark-theme header .dropdown-menu li a,
.dark-theme header .dropdown-menu li a:visited,
.dark-theme header .dropdown-menu li button,
.dark-theme header .dropdown-menu li button:visited {
    color: #eee;
}

header .account-nav .dropdown-menu.active {
    padding: 5px 0;
    border: 1px solid #ccc;
    right: 10px;
    width: 185px;
}

header .account-nav .dropdown-menu.active li {
    height: 40px;
}

header .notifications .dropdown-menu {
    transform: translate(1px, -1px);
    opacity: 0;
}

header .notifications .dropdown-menu.active {
    transform: translate(1px, -1px);
    padding: 0 0 15px 0;
    opacity: 1;
}

header .notifications .dropdown-menu.active li {
    height: auto;
    padding: 11px 15px;
}

header .account-nav .dropdown-menu.active li a,
header .account-nav .dropdown-menu.active li button {
    border: none;
}

header .notifications .dropdown-menu.active li a,
header .notifications .dropdown-menu.active li button {
    line-height: initial;
}

header .dropdown-menu li:hover,
header .dropdown-menu li:focus,
header .dropdown-menu li:active {
    background-color: #f8f8f8;
}

.dark-theme header .dropdown-menu li a:hover,
.dark-theme header .dropdown-menu li a:focus,
.dark-theme header .dropdown-menu li a:active,
.dark-theme header .dropdown-menu li button:hover,
.dark-theme header .dropdown-menu li button:focus,
.dark-theme header .dropdown-menu li button:active {
    background-color: #333;
}

header .dropdown-menu .dropdown-header {
    overflow: hidden;
    height: 0;
    padding: 0 15px;
    background-color: #ececec;
    border-bottom: 1px solid #dfdfdf;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

header .dropdown-menu.active .dropdown-header {
    height: auto;
    padding: 11px 15px;
}

.btn-notification,
.btn-fullscreen {
    float: right;
    height: 60px;
    padding: 0 15px;
    font-size: 21px;
}

.dark-theme .btn-notification {
    color: rgba(255, 255, 255, 0.7);
}

.btn-notification span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border-radius: 50%;
    background-color: #cf3232;
    line-height: 14px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    letter-spacing: normal;
}

header .notification-dropdown-menu {
    width: 450px;
    text-align: left;
}

header .notifications .dropdown-menu::after {
    left: auto;
    right: 27px;
}

header .notification-dropdown-menu li {
    display: flex;
}

header .notification-dropdown-menu li div {
    position: relative;
    float: left;
    justify-content: space-evenly;
}

header .notification-dropdown-menu li div:nth-child(1) {
    width: 10%;
    padding-top: 7px;
    margin-right: 10px;
    text-align: center;
}

header .notification-dropdown-menu li div:nth-child(2) {
    width: 90%;
}

header .notification-dropdown-menu li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e23427;
}

header .notification-dropdown-menu li em {
    float: left;
    width: 100%;
    font-style: normal;
    color: #aaa;
    font-size: 11px;
}