/* Logo */
a.logo {
    z-index: 999;
    transform: translate(70px, 14px);
    display: inline-block;
    width: 103px;
    height: 30px;
    margin: auto;
    padding: 0;
    background: url(../images/logo_blue.png) no-repeat 50% 50%;
    background-size: 103px 30px;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.logo-white {
    /* opacity: 0; */
    background: url(../images/logo_white.png) no-repeat 50% 50%;
    background-size: 103px 30px;
}

@media only screen and (max-width:768px) {
    a.logo,
    .dark-theme a.logo {
        float: none;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -70px;
        display: block;
        width: 140px;
        height: 43px;
        background-size: 140px 43px;
    }
}