/* Navigation */
.main-nav {
    position: relative;
    float: left;
    width: 60px;
    z-index: 100;
    padding-top: 80px;
    margin-top: -60px;
    overflow: hidden;
    background-color: #272727;
    border-right: 1px solid #111;
    text-align: left;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@media only screen and (max-width:414px) {
    .main-nav {
        display: none;
    }
}

.dark-theme .main-nav {
    background-color: #252525;
}

.main-nav.wide {
    width: 250px;
}

.main-nav li {
    position: relative;
    float: left;
    width: 100%;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.main-nav li a,
.main-nav li a:visited,
.main-nav li button {
    float: left;
    overflow: hidden;
    height: 50px;
    width: 60px;
    padding: 0;
    width: 100%;
    color: #aaa;
    font-size: 13px;
    font-weight: normal;
    line-height: 50px;
    -webkit-transition: padding .2s ease-in-out;
    -ms-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out;
}

.main-nav.wide li a,
.main-nav.wide li button {
    padding: 0 15px;
    width: 250px;
}

.dark-theme .main-nav li a,
.dark-theme .main-nav li a:visited,
.dark-theme .main-nav li button {
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li a:hover {
    color: #959595 !important;
}

.dark-theme .main-nav li a:hover {
    color: #a5a5a5 !important;
}

.main-nav li a.current,
.dropdown-menu.active li a.current {
    background-color: #303030;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    border-right: 5px solid #aaa;
    box-shadow: inset 0px 1px 2px -1px rgba(0, 0, 0, 0.2), inset 0px -1px 2px -1px rgba(0, 0, 0, 0.2);
}

.dark-theme .main-nav li a.current,
.dark-theme .dropdown-menu.active li a.current {
    background-color: #353535;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
    border-right: 5px solid #ff5e00;
    box-shadow: inset 0 -3px 3px -2px #111, inset 0 3px 3px -2px #111;
}

.main-nav li button i:first-child,
.main-nav li a i:first-child {
    float: left;
    width: 60px;
    height: 50px;
    margin-right: 5px;
    color: #4582dd;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dark-theme li a i:first-child {
    color: #ff5e00;
}

.main-nav li a i:nth-child(2) {
    float: right;
    height: 50px;
    font-size: 10px;
    line-height: 50px;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dark-theme .main-nav hr {
    border-top: 1px solid #171717;
    border-bottom: 1px solid #292929;
}

.dropdown-menu {
    float: left;
    width: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dropdown-menu li {
    width: 100%;
    height: 0px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dropdown-menu li a,
.dropdown-menu li button {
    position: relative;
    width: 100%;
    border: none;
}

.dark-theme .dropdown-menu {
    background-color: #303030;
}

.dropdown-menu.active {
    opacity: 1;
    padding: 15px 0;
    box-shadow: inset 0px 3px 3px -3px #000, inset 0px -3px 3px -3px #000;
}

.dropdown-menu.active li {
    height: 50px;
}

.dropdown-menu li a.current {
    border: none;
    box-shadow: none;
}

.btn-mobile-menu {
    display: none;
    float: left;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .btn-mobile-menu {
        display: block;
    }
}

.main-nav-top {
    float: left;
    width: 100%;
    height: 60px;
    padding: 15px 0;
    text-align: center;
}