.percent-bar {
    position: relative;
    display: inline-block;
    margin: auto;
    background-color: #ebebeb;
}

.percent-bar span {
    position: absolute;
    bottom: 1px;
    left: 1px;
    color: #fff;
    background-color: #1c9927;
    font-size: 9px;
    line-height: 13px;
}

.percent-bar em {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #333;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: bold;
}

.pb-horizontal .percent-bar {
    width: 100%;
    height: 15px;
}

.pb-horizontal .percent-bar span {
    top: 1px;
    right: auto;
}

.pb-horizontal .percent-bar em {
    line-height: 15px;
    text-align: right;
    padding: 0 1px;
}

.pb-vertical .percent-bar {
    height: 100%;
    width: 15px;
}
.pb-vertical .percent-bar span {
    top: auto;
    right: 1px;
}

.pb-vertical .percent-bar em {
    padding: 1px 0s;
}
