@charset "UTF-8";
@import url("../fonts/fontawesome/fontawesome.css");
@import url("fonts.css");
@import url("dropzone.css");
@import url("filebrowser.css");
@import url("template.css");
@import url("header.css");
@import url("navigation.css");
@import url("logo.css");
@import url("buttons.css");
@import url("forms.css");
@import url("fancyform.css");
@import url("footer.css");
@import url("dropzone.css");
@import url("calendar.css");
@import url("pagination.css");
@import url("percentbar.css");

.user-panel strong {
    font-size: 12px;
    font-weight: 800;
}

.calendar.mini {
    font-size: 12px;
}

.calendar.mini th {
    height: 40px;
    border: none !important;
}

.calendar.mini td {
    height: 105px;
    padding: 3px;
    border: none;
}

.calendar.mini .events {
    max-height: 40px;
} 

.calendar.mini [data-view='month'] .event {
    flex: 1 1 20px;
    padding: 0 2px;
    font-size: 10px;
    line-height: 18px;
}