*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3);
}

html {
    height: 101%;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: rgba(0, 0, 0, .6);
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

@media only screen and (max-width:1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width:768px) {
    body {
        padding: 0 5px;
    }
}

body.dark-theme {
    background-color: #131313;
    color: rgba(255, 255, 255, 0.7);
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

table input {
    height: auto;
}

th {
    background-color: #f7f3f7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: left;
    cursor: pointer;
    padding: 0 15px 0 15px;
    height: 25px;
    line-height: 25px;
    font-weight: 600;
}

table.unstyled {
    border: initial;
    border-collapse: collapse;
    word-wrap: break-word;
}

table.unstyled td {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

td {
    background-clip: padding-box
}

.dark-theme tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.data-row {
    position: relative;
}

.data-row:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.dark-theme .data-row:hover {
    background-color: #444;
}

tr:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

td {
    height: auto;
    padding: 5px 15px;
    border: none;
    overflow: hidden;
    background-color: #fff;
}

td:first-child,
td:last-child {
    padding: 5px 5px;
}

tfoot {
    display: none
}

tr:focus,
tr:active {
    background-color: #f7f7f7;
    box-shadow: inset 0px 12px 3px -10px rgba(0, 0, 0, .1), inset 0px -11px 3px -10px rgba(0, 0, 0, .1);
}

.dark-theme tr:focus {
    background-color: #333;
}

.id-col {
    max-width: 0;
    width: 0;
    overflow: hidden;
    display: none !important;
}

.check-cell {
    width: 30px;
    padding: 0;
    text-align: center;
}

.number-col {
    padding-right: 0px;
}

.check-col,
.number-col {
    min-width: 30px;
    width: 30px;
    text-align: center;
    padding: 0;
}

@media only screen and (max-width:414px) {
    table.list-table,
    .list-table th,
    .list-table td,
    .list-table tr {
        display: block;
        float: left;
        width: 100% !important;
    }
    .list-table tr {
        border: 1px solid #ddd;
    }
    .list-table th {
        background-color: #ececec;
    }
    .list-table td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        width: 100%;
        text-align: right;
    }
    .list-table td span {
        float: left;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    .list-table th.btn-sort,
    .list-table th.action,
    .list-table th.number-col {
        display: none;
    }
    .check-cell,
    .number-col {
        text-align: left;
        padding: 5px 15px;
        font-weight: bold;
    }
    .list-table table input[type="checkbox"] {
        vertical-align: middle;
    }
    .list-table td:first-child,
    .list-table td:last-child {
        padding: 5px 15px;
    }
}

/* Text */
a,
a:visited {
    text-decoration: none;
    color: #349ef3;
}

.dark-theme a,
.dark-theme a:visited {
    color: #ff5e00;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

.dark-theme a:hover,
.dark-theme a:focus,
.dark-theme a:active {
    text-decoration: underline;
}

ul,
ol {
    list-style: outside
}

ul.list-unstyled,
ol.list-unstyled {
    list-style: none
}

ul.list-style-inside,
ol.list-style-inside {
    list-style: inside
}

ul.list-style-check,
ol.list-style-check {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: inherit
}

.heading-small {
    font-size: 21px;
    line-height: 21px;
}

.heading-medium {
    font-size: 28px;
    line-height: 28px;
}

.heading-large {
    font-size: 36px;
    line-height: 36px;
}

.heading-xl {
    font-size: 42px;
    line-height: 42px;
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-underline {
    text-decoration: underline
}

.text-small {
    font-size: 12px;
    line-height: 18px;
}

.text-medium {
    font-size: 18px;
    line-height: 18px;
}

.text-large {
    font-size: 24px;
    line-height: 24px;
}

.text-black {
    color: #333333;
}

.text-white {
    color: #f8f8f8;
}

.text-green {
    color: #32ce32;
}

.text-red {
    color: #d64c4c;
}

.text-blue {
    color: #3d7cda;
}

.text-orange {
    color: #ff5e00;
}

.text-purple {
    color: #8e1aa5;
}

.text-brown {
    color: #a5702a;
}

.text-grey {
    color: #808080;
}

.text-pink {
    color: #ffacba;
}

.text-yellow {
    color: #fdfd00;
}

/* Background Colors */
.bkg-black {
    background-color: #333333;
}

.bkg-white {
    background-color: #f8f8f8;
}

.bkg-green {
    background-color: #32ce32;
}

.bkg-red {
    background-color: #d64c4c;
}

.bkg-blue {
    background-color: #3d7cda;
}

.bkg-orange {
    background-color: #ff5e00;
}

.bkg-purple {
    background-color: #8e1aa5;
}

.bkg-brown {
    background-color: #a5702a;
}

.bkg-grey {
    background-color: #808080;
}

.bkg-pink {
    background-color: #ffacba;
}

.bkg-yellow {
    background-color: #fdfd00;
}

/* Wrappers, Main */
.main {
    display: flex;
    flex-flow: row nowrap;
    float: left;
    width: 100%;
    height: 100%;
    text-align: left;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
}

/* Wrappers, Main */
.row,
.flex-row,
.col10,
.col20,
.col30,
.col40,
.col50,
.col60,
.col70,
.col80,
.col90 {
    position: relative;
    float: left;
}

.row,
.flex-row {
    width: 100%;
}

.col5 {
    width: 5%;
}

.col10 {
    width: 10%;
}

.col14 {
    width: 14.28%;
}

.col15 {
    width: 14.28%;
}

.col16 {
    width: 16.66%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col30 {
    width: 30%;
}

.col33 {
    width: 33.33%;
}

.col35 {
    width: 35%;
}

.col40 {
    width: 40%;
}

.col45 {
    width: 45%;
}

.col50 {
    width: 50%;
}

.col55 {
    width: 55%;
}

.col60 {
    width: 60%;
}

.col65 {
    width: 65%;
}

.col70 {
    width: 70%;
}

.col75 {
    width: 75%;
}

.col80 {
    width: 80%;
}

.col85 {
    width: 85%;
}

.col90 {
    width: 90%;
}

.col95 {
    width: 95%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.space-even {
    justify-content: space-evenly;
}

.size-even {
    position: relative;
    flex: 1 1 0;
}

.stretch {
    align-items: stretch;
}

.inline {
    vertical-align: middle;
    display: inline-block;
    line-height: 28px;
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pt25 {
    padding-top: 25px
}

.pt30 {
    padding-top: 30px
}

.pt35 {
    padding-top: 35px
}

.pt40 {
    padding-top: 40px
}

.pt45 {
    padding-top: 45px
}

.pt50 {
    padding-top: 50px
}

.pt55 {
    padding-top: 55px
}

.pt60 {
    padding-top: 60px
}

.pt65 {
    padding-top: 65px
}

.pt70 {
    padding-top: 70px
}

.pt75 {
    padding-top: 75px
}

.pt80 {
    padding-top: 80px
}

.pt85 {
    padding-top: 85px
}

.pt90 {
    padding-top: 90px
}

.pt95 {
    padding-top: 95px
}

.pt100 {
    padding-top: 100px
}

.pt120 {
    padding-top: 120px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb15 {
    padding-bottom: 15px
}

.pb20 {
    padding-bottom: 20px
}

.pb25 {
    padding-bottom: 25px
}

.pb30 {
    padding-bottom: 30px
}

.pb35 {
    padding-bottom: 35px
}

.pb40 {
    padding-bottom: 40px
}

.pb45 {
    padding-bottom: 45px
}

.pb50 {
    padding-bottom: 50px
}

.pb55 {
    padding-bottom: 55px
}

.pb60 {
    padding-bottom: 60px
}

.pb65 {
    padding-bottom: 65px
}

.pb70 {
    padding-bottom: 70px
}

.pb75 {
    padding-bottom: 75px
}

.pb80 {
    padding-bottom: 80px
}

.pb85 {
    padding-bottom: 85px
}

.pb90 {
    padding-bottom: 90px
}

.pb95 {
    padding-bottom: 95px
}

.pb100 {
    padding-bottom: 100px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl15 {
    padding-left: 15px
}

.pl20 {
    padding-left: 20px
}

.pl25 {
    padding-left: 25px
}

.pl30 {
    padding-left: 30px
}

.pl35 {
    padding-left: 35px
}

.pl40 {
    padding-left: 40px
}

.pl45 {
    padding-left: 45px
}

.pl50 {
    padding-left: 50px
}

.pl55 {
    padding-left: 55px
}

.pl60 {
    padding-left: 60px
}

.pl65 {
    padding-left: 65px
}

.pl70 {
    padding-left: 70px
}

.pl75 {
    padding-left: 75px
}

.pl80 {
    padding-left: 80px
}

.pl85 {
    padding-left: 85px
}

.pl90 {
    padding-left: 90px
}

.pl95 {
    padding-left: 95px
}

.pl100 {
    padding-left: 100px
}

.pl120 {
    padding-left: 120px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr15 {
    padding-right: 15px
}

.pr20 {
    padding-right: 20px
}

.pr25 {
    padding-right: 25px
}

.pr30 {
    padding-right: 30px
}

.pr35 {
    padding-right: 35px
}

.pr40 {
    padding-right: 40px
}

.pr45 {
    padding-right: 45px
}

.pr50 {
    padding-right: 50px
}

.pr55 {
    padding-right: 55px
}

.pr60 {
    padding-right: 60px
}

.pr65 {
    padding-right: 65px
}

.pr70 {
    padding-right: 70px
}

.pr75 {
    padding-right: 75px
}

.pr80 {
    padding-right: 80px
}

.pr85 {
    padding-right: 85px
}

.pr90 {
    padding-right: 90px
}

.pr95 {
    padding-right: 95px
}

.pr100 {
    padding-right: 100px
}

.pr120 {
    padding-right: 120px
}

.pv5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.pv10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.pv15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.pv20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.pv25 {
    padding-top: 25px;
    padding-bottom: 25px
}

.pv30 {
    padding-top: 30px;
    padding-bottom: 30px
}

.pv35 {
    padding-top: 35px;
    padding-bottom: 35px
}

.pv40 {
    padding-top: 40px;
    padding-bottom: 40px
}

.pv45 {
    padding-top: 45px;
    padding-bottom: 45px
}

.pv50 {
    padding-top: 50px;
    padding-bottom: 50px
}

.pv55 {
    padding-top: 55px;
    padding-bottom: 55px
}

.pv60 {
    padding-top: 60px;
    padding-bottom: 60px
}

.pv65 {
    padding-top: 65px;
    padding-bottom: 65px
}

.pv70 {
    padding-top: 70px;
    padding-bottom: 70px
}

.pv75 {
    padding-top: 75px;
    padding-bottom: 75px
}

.pv80 {
    padding-top: 80px;
    padding-bottom: 80px
}

.pv85 {
    padding-top: 85px;
    padding-bottom: 85px
}

.pv90 {
    padding-top: 90px;
    padding-bottom: 90px
}

.pv90 {
    padding-top: 90px;
    padding-bottom: 90px
}

.pv100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.pv120 {
    padding-top: 120px;
    padding-bottom: 120px
}

.ph5 {
    padding-left: 5px;
    padding-right: 5px
}

.ph10 {
    padding-left: 10px;
    padding-right: 10px
}

.ph15 {
    padding-left: 15px;
    padding-right: 15px
}

.ph20 {
    padding-left: 20px;
    padding-right: 20px
}

.ph25 {
    padding-left: 25px;
    padding-right: 25px
}

.ph30 {
    padding-left: 30px;
    padding-right: 30px
}

.ph35 {
    padding-left: 35px;
    padding-right: 35px
}

.ph40 {
    padding-left: 40px;
    padding-right: 40px
}

.ph45 {
    padding-left: 45px;
    padding-right: 45px
}

.ph50 {
    padding-left: 50px;
    padding-right: 50px
}

.ph55 {
    padding-left: 55px;
    padding-right: 55px
}

.ph60 {
    padding-left: 60px;
    padding-right: 60px
}

.ph65 {
    padding-left: 65px;
    padding-right: 65px
}

.ph70 {
    padding-left: 70px;
    padding-right: 70px
}

.ph75 {
    padding-left: 75px;
    padding-right: 75px
}

.ph80 {
    padding-left: 80px;
    padding-right: 80px
}

.ph85 {
    padding-left: 85px;
    padding-right: 85px
}

.ph90 {
    padding-left: 90px;
    padding-right: 90px
}

.ph95 {
    padding-left: 95px;
    padding-right: 95px
}

.ph100 {
    padding-left: 100px;
    padding-right: 100px
}

.ph120 {
    padding-left: 120px;
    padding-right: 120px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt25 {
    margin-top: 25px
}

.mt30 {
    margin-top: 30px
}

.mt35 {
    margin-top: 35px
}

.mt40 {
    margin-top: 40px
}

.mt45 {
    margin-top: 45px
}

.mt50 {
    margin-top: 50px
}

.mt55 {
    margin-top: 55px
}

.mt60 {
    margin-top: 60px
}

.mt65 {
    margin-top: 65px
}

.mt70 {
    margin-top: 70px
}

.mt75 {
    margin-top: 75px
}

.mt80 {
    margin-top: 80px
}

.mt85 {
    margin-top: 85px
}

.mt90 {
    margin-top: 90px
}

.mt95 {
    margin-top: 95px
}

.mt100 {
    margin-top: 100px
}

.mt120 {
    margin-top: 120px
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb25 {
    margin-bottom: 25px
}

.mb30 {
    margin-bottom: 30px
}

.mb35 {
    margin-bottom: 35px
}

.mb40 {
    margin-bottom: 40px
}

.mb45 {
    margin-bottom: 45px
}

.mb50 {
    margin-bottom: 50px
}

.mb55 {
    margin-bottom: 55px
}

.mb60 {
    margin-bottom: 60px
}

.mb65 {
    margin-bottom: 65px
}

.mb70 {
    margin-bottom: 70px
}

.mb75 {
    margin-bottom: 75px
}

.mb80 {
    margin-bottom: 80px
}

.mb85 {
    margin-bottom: 85px
}

.mb90 {
    margin-bottom: 90px
}

.mb95 {
    margin-bottom: 95px
}

.mb100 {
    margin-bottom: 100px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml20 {
    margin-left: 20px
}

.ml25 {
    margin-left: 25px
}

.ml30 {
    margin-left: 30px
}

.ml35 {
    margin-left: 35px
}

.ml40 {
    margin-left: 40px
}

.ml45 {
    margin-left: 45px
}

.ml50 {
    margin-left: 50px
}

.ml55 {
    margin-left: 55px
}

.ml60 {
    margin-left: 60px
}

.ml65 {
    margin-left: 65px
}

.ml70 {
    margin-left: 70px
}

.ml75 {
    margin-left: 75px
}

.ml80 {
    margin-left: 80px
}

.ml85 {
    margin-left: 85px
}

.ml90 {
    margin-left: 90px
}

.ml95 {
    margin-left: 95px
}

.ml100 {
    margin-left: 100px
}

.ml120 {
    margin-left: 120px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr25 {
    margin-right: 25px
}

.mr30 {
    margin-right: 30px
}

.mr35 {
    margin-right: 35px
}

.mr40 {
    margin-right: 40px
}

.mr45 {
    margin-right: 45px
}

.mr50 {
    margin-right: 50px
}

.mr55 {
    margin-right: 55px
}

.mr60 {
    margin-right: 60px
}

.mr65 {
    margin-right: 65px
}

.mr70 {
    margin-right: 70px
}

.mr75 {
    margin-right: 75px
}

.mr80 {
    margin-right: 80px
}

.mr85 {
    margin-right: 85px
}

.mr90 {
    margin-right: 90px
}

.mr95 {
    margin-right: 95px
}

.mr100 {
    margin-right: 100px
}

.mr120 {
    margin-right: 120px
}

.mv5 {
    margin-top: 5px;
    margin-bottom: 5px
}

.mv10 {
    margin-top: 10px;
    margin-bottom: 10px
}

.mv15 {
    margin-top: 15px;
    margin-bottom: 15px
}

.mv20 {
    margin-top: 20px;
    margin-bottom: 20px
}

.mv25 {
    margin-top: 25px;
    margin-bottom: 25px
}

.mv30 {
    margin-top: 30px;
    margin-bottom: 30px
}

.mv35 {
    margin-top: 35px;
    margin-bottom: 35px
}

.mv40 {
    margin-top: 40px;
    margin-bottom: 40px
}

.mv45 {
    margin-top: 45px;
    margin-bottom: 45px
}

.mv50 {
    margin-top: 50px;
    margin-bottom: 50px
}

.mv55 {
    margin-top: 55px;
    margin-bottom: 55px
}

.mv60 {
    margin-top: 60px;
    margin-bottom: 60px
}

.mv65 {
    margin-top: 65px;
    margin-bottom: 65px
}

.mv70 {
    margin-top: 70px;
    margin-bottom: 70px
}

.mv75 {
    margin-top: 75px;
    margin-bottom: 75px
}

.mv80 {
    margin-top: 80px;
    margin-bottom: 80px
}

.mv85 {
    margin-top: 85px;
    margin-bottom: 85px
}

.mv90 {
    margin-top: 90px;
    margin-bottom: 90px
}

.mv95 {
    margin-top: 95px;
    margin-bottom: 95px
}

.mv100 {
    margin-top: 100px;
    margin-bottom: 100px
}

.mv120 {
    margin-top: 120px;
    margin-bottom: 120px
}

.mh5 {
    margin-left: 5px;
    margin-right: 5px
}

.mh10 {
    margin-left: 10px;
    margin-right: 10px
}

.mh15 {
    margin-left: 15px;
    margin-right: 15px
}

.mh20 {
    margin-left: 20px;
    margin-right: 20px
}

.mh25 {
    margin-left: 25px;
    margin-right: 25px
}

.mh30 {
    margin-left: 30px;
    margin-right: 30px
}

.mh35 {
    margin-left: 35px;
    margin-right: 35px
}

.mh40 {
    margin-left: 40px;
    margin-right: 40px
}

.mh45 {
    margin-left: 45px;
    margin-right: 45px
}

.mh50 {
    margin-left: 50px;
    margin-right: 50px
}

.mh55 {
    margin-left: 55px;
    margin-right: 55px
}

.mh60 {
    margin-left: 60px;
    margin-right: 60px
}

.mh65 {
    margin-left: 65px;
    margin-right: 65px
}

.mh70 {
    margin-left: 70px;
    margin-right: 70px
}

.mh75 {
    margin-left: 75px;
    margin-right: 75px
}

.mh80 {
    margin-left: 80px;
    margin-right: 80px
}

.mh85 {
    margin-left: 85px;
    margin-right: 85px
}

.mh90 {
    margin-left: 90px;
    margin-right: 90px
}

.mh95 {
    margin-left: 95px;
    margin-right: 95px
}

.mh100 {
    margin-left: 100px;
    margin-right: 100px
}

.mh120 {
    margin-left: 120px;
    margin-right: 120px
}

.pull-right {
    position: relative;
    float: right !important
}

.pull-left {
    position: relative;
    float: left !important
}

/* Horizontal Rule */
hr {
    border: none;
    border-top: 1px solid #8c8b8b;
}

hr.clear {
    border-top: none;
    border-bottom: none
}

hr.basic {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.dark-theme hr.basic {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}

hr.fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

hr.curly {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.curly:before {
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.glyph {
    padding: 0;
    border: none;
    border-top: medium double #555;
    color: #555;
    text-align: center;
}

hr.glyph:after {
    content: "\f1b0";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    font-family: 'Font Awesome 5 Free';
}

hr.dual {
    border-top: 3px double #8c8b8b;
}

hr.dual-sizable:after {
    content: '';
    display: block;
    margin-top: 6px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #f8f8f8;
}

hr.dashed {
    border-top: 1px dashed #8c8b8b;
}

hr.dashed-line {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.dotted {
    border-top: 1px dotted #8c8b8b;
}

hr.hor {
    display: inline-block;
    height: 100%;
    width: 1px;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Alerts */
.alert {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 30px 3px 7px;
    border-radius: 3px;
    color: #f8f8f8;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.alert strong {
    text-transform: capitalize;
}

.alert.success {
    background-color: #76d769;
}

.alert.error {
    background-color: #ff6868;
}

.alert.warning {
    background-color: #ffc547;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.alert.info {
    background-color: #68a8ff;
}

.alert-attached {
    float: left;
    z-index: 200;
    min-width: 100px;
    width: auto;
    padding-top: 2px;
    text-align: left;
    font-size: 13px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.alert-attached {
    color: #ff6868;
}

.alert button,
.alert a,
.alert a:visited {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    color: #f8f8f8;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.alert a,
.alert a:visited {
    line-height: 28px;
}

/* Loading */
.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
}

.dark-theme .loading {
    background-color: #333;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    z-index: 101;
    font-size: 40px;
    line-height: 40px;
    color: #2777c9
}

.loading-spinner img {
    width: 100%
}

/* To-top */
.to-top {
    position: fixed;
    opacity: 0;
    left: 10px;
    top: -100px;
    z-index: 100;
    width: 230px;
    height: 30px;
    border-radius: 4px;
    background: #349ef3;
    cursor: pointer;
    color: #f8f8f8;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.to-top.visible {
    top: 20px;
    opacity: 1;
}

/* Work  Area*/
.workarea {
    flex: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

/* Breadcrumb */
.breadcrumb {
    float: left;
    height: 24px;
    margin-top: 24px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    color: #0e6eff !important;
}

@media only screen and (max-width:1024px) {
    .breadcrumb {
        margin-bottom: 5px;
    }
}

.breadcrumb a {
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 24px;
    color: #0e6eff !important;
}

.dark-theme .breadcrumb a {
    color: #eee !important;
}

.breadcrumb span:last-child {
    display: none;
}

/* Dashboard */
.panel-btns {
    position: absolute;
    top: 0;
    right: 0;
}

.panel-btns .left {
    float: right;
    width: 400px;
}

.panel-btns .right {
    float: right;
    width: 130px;
}

/* Panels */
.panel {
    position: relative;
    float: left;
    background-color: #fff;
    color: #333;
}

.dark-theme .panel {
    background-color: #0c0c0c;
    border: 1px solid #171717;
    color: rgba(255, 255, 255, 0.7);
}

.panel-title {
    float: left;
    padding: 0 0 15px 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.panel-title i {
    height: 25px;
    vertical-align: middle;
    font-size: 21px;
    color: #2176d6;
}

.dark-theme .panel-title i {
    color: #ff5e00;
}

.panel-title a,
.panel-title a:visited {
    color: #555;
}

.dark-theme .panel-title a,
.dark-theme .panel-title a:visited {
    color: #eee;
}

.panel-content {
    float: left;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:768px) {
    .panel-content {
        padding: 0;
    }
}

.panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px 15px 15px;
    font-size: 12px;
}

.dark-theme .panel-footer {
    background-color: #2b2b2b;
    border-top: 1px solid #777;
}

.panel-footer a,
.panel-footer a:visited {
    float: left;
    text-align: center;
}

@media only screen and (max-width:1366px) {
    .panel-footer a,
    .panel-footer a:visited {
        padding: 0 5px;
    }
}

@media only screen and (max-width:1024px) {
    .panel-footer a,
    .panel-footer a:visited {
        padding: 0 20px;
    }
}

.color-bubble {
    color: #f8f8f8;
    border-radius: 4px;
}

.color-bubble span {
    font-size: 56px;
    line-height: 56px;
}

.color-bubble span:nth-child(4) {
    font-size: 21px;
    line-height: 21px;
}

.color-bubble a {
    color: #f8f8f8;
}

.main-controls {
    padding: 5px 5px; 
    color: rgba(0, 0, 0, .6) !important;
    background-color: #f7f3f7;;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.dark-theme .main-controls {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-controls .btn {
    float: left;
    margin-right: 5px;
}

.main-controls select {
    margin-right: 5px;
}

.main-controls hr {
    float: left;
    width: 1px;
    height: 28px;
    margin: 0 10px 0 5px;
    background-color: #ccc;
    border: none;
}

.dark-theme .main-controls hr {
    background-color: #333;
}

.logs {
    height: 550px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
}

.logs .panel {
    background-color: #f7f7f7;
}

.logs button.active {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 3px solid #4582dd;
    background-color: #f7f7f7;
}

.logs-btn-logs, .logs-btn-errors {
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 0 15px;
    margin: 0 10px;
    transform: translate(0, -50px);
}

.log-panel, .error-panel {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    border-right: none;
}

.logs .panel.hide {
    display: none;
}

.logs .panel-btns {
    transform: translate(0, -50px);
}

.log {
    overflow: hidden;
    margin: 0 0 10px 0;
    max-height: 250px;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.log-title {
    float: left;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
}

.log-title i {
    line-height: 24px;
}

.log-title i:hover {
    cursor: pointer;
}

.scrollarea {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 500px;
}

.scrollarea:hover {
    overflow-y: scroll;
}

/* Profile */
hr.profile {
    height: 2px;
    border-top: 2px solid #ddd;
}

.dark-theme hr.profile {
    border-top: 2px solid #888;
}

.profile span {
    position: absolute;
    right:0;
    padding-right: 3px;
    background-color: #fff;
    color: #999;
    font-size: 12px;
    font-weight: 600;
}

.dark-theme .profile span {
    background-color: #0c0c0c;
}

.profile em {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
}

.profile-left {
    width: 200px;
    margin-right: 50px;
}

@media only screen and (max-width:768px) {
    .profile-left {
        width: 100%;
        margin-right: 0;
    }
}

.profile-controls {
    float: left;
    width: 50px;
    margin: 0 0 0 15px;
}

.profile-controls .btn {
    margin: 0 0 5px 0;
}

.profile-info {
    padding: 15px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.profile-avatar {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 0;
    background-color: #f8f8f8;
}

.profile-avatar img {
    width: 100%;
}

.profile-tabs {
    border-bottom: 2px solid #ddd;
}

.profile-tab {
    z-index: 100;
    padding: 0 3px 4px 3px;
    margin-bottom: -2px;
    border-bottom: 2px solid #349ef3;
}

.profile-activity {
    font-size: 12px;
}

.profile-links a {
    font-size: 12px;
}

.profile-links a:nth-child(2) {
    color: #777;
}

.is-online p {
    display: inline-block;
}

.days-ago {
    font-size: 10px;
}

/* Settings */
.settings-area strong {
    font-size: 21px;
    line-height: 21px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#settings-form {
    text-align: left;
}

.dark-theme .settings-row,
.dark-theme .form-row {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.settings-col-left {
    float: left;
    width: 16%;
}

.settings-col-right {
    float: left;
    width: 84%;
}

@media only screen and (max-width:1024px) {
    .settings-area .info-col {
        width: 100%;
        margin: 0;
    }
}

.set-ico i {
    color: #8f1eff;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Not Found */
.not-found-page-body {
    background: url(../images/monkey.png) no-repeat bottom right;
}

/* Account */
.user-form {
    position: relative;
    width: 28%;
    margin: 5% auto;
}

.user-form input {
    background-color: #eee;
}

@media only screen and (max-width:768px) {
    .user-form {
        position: relative;
        float: left;
        width: 98%;
        margin: 7% 1%;
    }
}

.login-form,
.signup-form,
.reset-form,
.resend-form {
    padding: 25px 35px;
    border-radius: 4px;
    color: #555;
}

.dark-theme .login-form,
.dark-theme .signup-form,
.dark-theme .reset-form,
.dark-theme .resend-form {
    background-color: #111;
    border: 1px solid #444;
    color: #eee;
}

#account input[type="radio"] {
    display: inline-block;
}

hr.account-hr {
    height: 2px;
    border-top: 2px solid #ddd;
}

.dark-theme hr.account {
    border-top: 2px solid #888;
}

.account span {
    position: absolute;
    padding-right: 3px;
    background-color: #fff;
    color: #999;
    font-size: 12px;
    font-weight: 600;
}

.dark-theme .account span {
    background-color: #0c0c0c;
}

.account em {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
}

.account-left {
    width: 200px;
    margin-right: 50px;
}

@media only screen and (max-width:768px) {
    .account-left {
        width: 100%;
        margin-right: 0;
    }
}

.account-controls {
    float: left;
    width: 50px;
    margin: 0 0 0 15px;
}

.account-controls .btn {
    margin: 0 0 5px 0;
}

.account-info {
    padding: 15px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.account-avatar {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 0;
    margin: auto;
    border: 1px solid #aaa;
    background-color: #f8f8f8;
}

.account-avatar img {
    width: 100%;
}

.account-avatar a {
    float: left;
    width: 100%;
    margin-top: 5px;
    text-decoration: underline
}

.account-tabs {
    border-bottom: 2px solid #ddd;
}

.account-tab {
    z-index: 100;
    padding-bottom: 4px;
    margin-bottom: -2px;
    border-bottom: 2px solid #349ef3;
}

.account-avatar #dropzone {
    position: relative;
    min-height: 0;
    border: none;
    padding: 0;
    margin-top: 10px;
    background-color: transparent;
}

.account-avatar .dz-default.dz-message,
.account-avatar .dz-default.dz-message:visited {
    float: left;
    width: 100%;
    margin-top: 3px;
    color: #3498db !important;
    text-decoration: none;
    text-align: center;
}

.account-avatar .dz-message span {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
}

.account-avatar .dropzone .dz-preview {
    position: absolute !important;
    left: 50%;
    top: 0;
    height: 70px;
    width: 70px;
    margin-top: -100px !important;
    margin-left: -35px !important;
}

.account-avatar .dropzone .dz-image {
    display: none !important;
}

.account-avatar .account span {
    float: none;
}

.upload-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 350px;
    padding: 13px;
    margin: 25px 0 0 25px;
    border: 1px solid #aaa;
    border-radius: 5px
}

.btn-upload {
    position: absolute;
    top: 7px;
    right: 13px
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
    line-height: inherit;
}