<table class="list-table">
    <tr>
        <th class="number-col">#</th>
        <th class="check-cell"><input type="checkbox" id="check-all"></th>
        <th class="btn-sort id-col">ID</th>
        <th class="btn-sort">Firstname</th>
        <th class="btn-sort">Lastname</th>
        <th class="btn-sort">Email</th>
        <th class="btn-sort">Last Active</th>
        <th class="btn-sort">Group</th>
    </tr>
    <?php foreach ($records as $user): ?>
    <tr class="data-row" tabindex="0">
        <td class="number-col"></td>
        <td class="check-cell">
            <input type="checkbox" name="user_check<?= $user['user_id']; ?>" value="<?= $user['user_id']; ?>" class="checkbox">
        </td>
        <td class="id-col"><?= $user['user_id']; ?></td>
        <td class="td"><?= $user['firstname']; ?></td>
        <td class="td"> <?= $user['lastname']; ?></td>
        <td class="td"><?= $user['email']; ?></td>
        <td class="td is-online"><?= $user['last_active']; ?></td>
        <td class="td user-group"><?= $user['group']; ?></td>
    </tr>
    <?php endforeach ?>
</table>