<?= $header; ?>
<main class="main list-page">
    <?= $nav; ?>
    <section class="workarea">
        <?= $breadcrumb; ?>
        <div class="panel row pv20 ph20">
            <!-- <div class="panel-title"><i class="fas fa-list fa-fw"></i> PAGINATION</a></div> -->
            <div class="panel-content">
                <div class="loading"><div class="loading-spinner"><i class="fas fa-circle-notch fa-fw fa-spin"></i></div></div>
                <div class="row alert-area"></div>
                <?= $pagination; ?> 
                <div class="row pagination-table mb10"></div>
                <?= $pagination; ?>       
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', () => {
    pagination.init({
        url: '/pagination/getTable',
        on_render: {makeTableAdjustments}
    }).then(response => {
        console.log(response);
    });

    function makeTableAdjustments() {
        app.mobilizeTables();
    }
});
</script>
<?= $footer; ?>         