<?= $header; ?>
<main class="main dashboard-page">
    <?= $nav; ?>
    <section class="workarea">
        <div class="row pv20 ph20 mb50">
            <div class="flex-row mb60">
                <div class="col25 space-even flex-col">
                    <div class="panel size-even row">
                        <div class="panel-title"><a href="/users"><i class="fas fa-users fa-fw"></i> USERS</a></div>
                        <div class="row panel-content text-center user-panel">
                            <div class="row text-center mb25" style="font-size: 50px; line-height: 50px;"><?= $total_users; ?></div>
                            <div class="row mb5">
                                <div class="row text-left">Administrators <span>(<?= $admins; ?>)</span></div>
                                <div class="percent-bar"><span data-type="admins" style="background-color: #2d5abd;"></span></div>
                            </div>
                            <div class="row mb5">
                                <div class="row text-left">Moderators <span>(<?= $mods; ?>)</span></div>
                                <div class="percent-bar"><span data-type="mods" style="background-color: #557dd4;"></span></div>
                            </div>
                            <div class="row mb5">
                                <div class="row text-left">Registered <span>(<?= $registered; ?>)</span></div>
                                <div class="percent-bar"><span data-type="registered" style="background-color: #34a043;"></span></div>
                            </div>
                            <div class="row mb5">
                                <div class="row text-left">Pending <span>(<?= $pending; ?>)</span></div>
                                <div class="percent-bar"><span data-type="pending" style="background-color: #d66d30;"></span></div>
                            </div>
                            <div class="row mb5">
                                <div class="row text-left">Locked <span>(<?= $locked; ?>)</span></div>
                                <div class="percent-bar"><span data-type="locked" style="background-color: #d63030;"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel size-even row mt50">
                        <div class="panel-title"><a href="/settings"><i class="fas fa-cog fa-fw"></i> SETTINGS</a></div>
                        <div class="row panel-content" style="font-size: 18px;">
                            <div class="row mb5">Language: <span style="font-weight: 600;"><?= $language; ?></span></div>
                            <div class="row">Maintenance Mode: <span style="font-weight: 600;"><?= $maintenance_mode; ?></span></div>
                        </div>  
                    </div>
                </div>
                <div class="pull-left mh25">
                    <hr class="hor">
                </div>
                <div class="row space-even" style="overflow: hidden;">
                    <div class="calendar mini">
                        <table id="calendar-table"></table>
                    </div>
                </div>
            </div>
            <div class="flex-row mb10">
                <div class="panel size-even mr25">
                    <div class="panel-title"><a href="/filebrowser"><i class="fas fa-cog fa-fw"></i> FILEBROWSER</a></div>
                    <div class="row panel-content" id="filebrowser">
                        
                    </div>  
                </div>                
                <div class="panel size-even" style="max-height: 500px; overflow-y: scroll;">
                    <div class="panel-title"><a href="/pagination"><i class="fas fa-cog fa-fw"></i> PAGINATION</a></div>
                    <div class="row panel-content">
                        <div class="loading"><div class="loading-spinner"><i class="fas fa-circle-notch fa-fw fa-spin"></i></div></div>
                        <input type="hidden" name="url" value="<?= $url; ?>" id="url">
                        <div class="row alert-area"></div>      
                        <div class="row pagination-table mv15"></div>  
                    </div>  
                </div>
            </div>
        </div>
        <div class="row mb10 logs">
            <div class="logs-btns ml50">
                <button type="button" class="logs-btn-logs active">Logs</button>
                <button type="button" class="logs-btn-errors">Errors</button>
            </div>
            <div class="row panel log-panel">
                <div class="panel-content pv25 ph25">
                    <div class="panel-btns pt25 pr25">
                        <?php if ($user_group > 2): ?>
                        <button type="button" class="btn btn-default btn-clear-logs pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Logs</button>
                        <?php endif ?>
                        <div class="log-response"></div>
                    </div>
                    <div class="row log">
                        <div class="scrollarea">
                            <table class="table pull-left log-table">
                                <tr>
                                    <th class="number-col">#</th>
                                    <th style="width: 250px;">Time</th>
                                    <th>Event</th>
                                </tr>
                                <?php foreach ($logs as $log) : ?>
                                <tr class="log-row">
                                    <td class="number-col"><?= $log['log_id']; ?></td>
                                    <td style="width: 250px;"><?= $log['time']; ?></td>
                                    <td><?= $log['event']; ?></td>
                                </tr>
                                <?php endforeach ?>  
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <?php if ($user_group > 3): ?>
            <div class="row panel error-panel hide">
                <div class="panel-content pv25 ph25">
                    <div class="panel-btns pt25 pr25">
                        <button type="button" class="btn btn-default btn-clear-errors pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Errors</button>
                        <div class="error-response"></div>
                    </div>
                    <div class="row log">
                        <div class="scrollarea">
                            <table class="table pull-left log-table">
                                <tr>
                                    <th class="number-col">#</th>
                                    <th style="width: 250px;">Time</th>
                                    <th>Event</th>
                                </tr>
                                <?php foreach ($errors as $error) : ?>
                                <tr class="error-row">
                                    <td class="number-col"><?= $error['error_id']; ?></td>
                                    <td style="width: 250px;"><?= $error['time']; ?></td>
                                    <td><?= $error['event']; ?></td>
                                </tr>
                                <?php endforeach ?>  
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <?php endif ?>
        </div>
    </section>
</main>
<script type="text/javascript">

window.addEventListener('DOMContentLoaded', () => {

    calendar.init({
        view: 'month',
        events_url: '/calendar/get-events',
        log: true,
        day_click: false,
        allow_nav: false
    }).then(response => console.log(response));

    const show_logs_btn = document.querySelector('.logs-btn-logs');
    const show_errors_btn = document.querySelector('.logs-btn-errors');
    const log_panel = document.querySelector('.log-panel');
    const error_panel = document.querySelector('.error-panel');
    show_logs_btn.addEventListener('click', () => {
        log_panel.classList.remove('hide');
        error_panel.classList.add('hide');
        show_logs_btn.classList.add('active');
        show_errors_btn.classList.remove('active');
    });
    show_errors_btn.addEventListener('click', () => {
        error_panel.classList.remove('hide');
        log_panel.classList.add('hide');
        show_logs_btn.classList.remove('active');
        show_errors_btn.classList.add('active');
    });

    document.querySelectorAll('.btn-clear-logs, .btn-clear-errors').forEach(element => {
        element.addEventListener('click', async () => {
            const btn = element.innerHTML;        
            let message = 'Are you sure you want to clear the logs?';
            let url = '/dashboard/clear-log';
            let button = 'logs';
            let row = '.log-row';
            let container = '.log-panel';

            if (element.classList.contains('btn-clear-errors')) {
                message = 'Are you sure you want to clear the errors?';
                url = '/dashboard/clear-errors';
                button = 'errors';
                row = '.error-row';
                container = '.log-panel';
            }

            if (confirm(message)) {
                const response = await fetch(url); 
                if (response.ok) {
                    const data = await response.json();
                    let {alert, message} = data;
                    if (document.querySelector(`${container} .alert`)) document.querySelector(`${container} .alert`).remove();
                    if (document.querySelector(`${container} .loading`)) document.querySelector(`${container} .loading`).remove();
                    if (document.querySelector(row)) document.querySelectorAll(row).forEach(e => e.remove());                 
                    document.querySelector(`.btn-clear-${button}`)
                    .insertAdjacentHTML('beforeBegin', `<div class="alert ${alert}"><strong>${alert}!</strong> ${message} <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>`);
                    element.innerHTML = btn;
                    element.removeAttribute('disabled');
                }
            }
        });
    });

    filebrowser.init({
        dir: '/uploads/',
        allow_new_dirs: false,
        allow_delete: false,
        allow_upload: false,
        allow_navigation: false
    });

    pagination.init({
        url: document.querySelector('#url').value
    });

    pbar.init({
        container: '.user-panel',
        url: '/users/get-user-numbers'
    });
});

</script>
<?= $footer; ?>