<?= $header; ?>
<main class="main filebrowser-page">
    <?= $nav; ?>
    <section class="workarea">
        <?= $breadcrumb; ?>
        <div class="row pv20 ph20">
            <div class="row panel">
                <!-- <div class="panel-title"><a href="/filebrowser"><i class="fas fa-cog fa-fw"></i> FILEBROWSER</a></div> -->
                <div class="row panel-content" id="filebrowser" style="height:512px;">
                </div>  
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', () => {
    filebrowser.init({
        dir: '/uploads/'
    }).then(response => {
        document.addEventListener('click', (e) => {
            const t = e.target;
            const c = 'fb-file-link';
            if (t.classList.contains(c) || t.parentElement.classList.contains(c)) {
                alert(`You clicked on the file named (${t.innerText})`);
            }
        });
    });
});
</script>
<?= $footer; ?>