<div class="row pagination-controls no-select">
    <div class="pull-left">
        <label>Page:</label>
        <div class="pagination">
            <button type="button" class="btn-prev"><i class="fas fa-caret-left fa-fw"></i></button>
            <select class="pagination-select"></select>
            <button type="button" class="btn-next"><i class="fas fa-caret-right fa-fw"></i></button>
        </div>
    </div>
    <div class="pull-left ml30">
        <label>Limit:</label>
        <select class="limit-per-page">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
        </select>
    </div>
    <div class="pull-left ml30">
        <label for="pagination-search">Search: 
            <input type="search" name="pagination-search" placeholder="Search" class="pagination-search input-attached-right" style="width: 500px;">
            <button type="button" class="btn btn-basic btn-attached-left btn-list-search no-load">Search</button>
        </label>
    </div>
    <div class="pull-right total label-inline"></div>
    <div class="pull-right page-of label-inline"></div>
</div>  