<div class="search">
    <div class="search-icon"><i class="fas fa-search fa-fw"></i></div>
    <input type="search" name="string" placeholder="Search" class="search-input">
    <div class="search-results"></div>
</div>