<?= $header; ?>
<main class="main general-settings-page">
    <?= $nav; ?>
    <section class="workarea">
        <?= $breadcrumb; ?>
        <form id="settings-form" class="flex-row">
            <div class="size-even panel pv20 ph20">
                <!-- <div class="panel-title"><i class="fas fa-cogs fa-fw"></i> GENERAL</div> -->
                <div class="panel-content">
                    <div class="row alert-area"></div>
                    <div class="row main-controls">
                        <button type="button" class="btn btn-go btn-save-settings"><i class="fas fa-save fa-fw"></i> Save</button>
                    </div>
                    <div class="row mt10">
                        <form class="row pv25 ph25">
                            <div class="row mb15">
                                <label style="width: 150px;" for="owners_email">Owners Email:</label>
                                <input type="email" name="owners_email" style="min-width: 500px;">
                                <span class="text-small ml10"><i class="fas fa-question-circle fa-fw"></i> Emails from the contact form will be sent to this address.</span> 
                            </div>   
                            <div class="row mb15">
                                <label style="width: 150px;" for="strong_pw">Strong Passwords:</label>
                                <input type="checkbox" name="strong_pw">
                                <span class="text-small ml10"><i class="fas fa-question-circle fa-fw"></i> Force users to create a strong password during sign up.</span>
                            </div>
                            <div class="row mb15">
                                <label style="width: 150px;" for="inactivity_limit">Inactivity Limit:</label>
                                <select name="inactivity_limit">
                                    <option value="0">0</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="60">60</option>
                                </select>
                                <span class="text-small ml10"><i class="fas fa-question-circle fa-fw"></i> Time before users are logged out from inactivity. Set to 0 for no limit.</span>
                            </div>
                            <div class="row mb15">
                                <label style="width: 150px;" for="language">Language:</label>
                                <select name="language">
                                    <option value="" hidden>Select</option>
                                    <?php foreach ($languages as $lang): ?>
                                    <option value="<?= $lang['code']; ?>"><?= $lang['language']; ?></option>
                                    <?php endforeach ?>
                                </select>
                                <span class="text-small ml10"><i class="fas fa-question-circle fa-fw"></i> The websites language. (BETA. Language support is limited at this time.)</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>
<script type="text/javascript">

formfiller.init({
    form: '#settings-form',
    url: '/settings/getSettingsJson/'
});

let save_button = document.querySelector('.btn-save-settings');
let button_html = save_button.innerHTML;
save_button.addEventListener('click', (e) => {
    HTTP.post('/settings/update/general', '#settings-form', (r) => {
        document.querySelector('.alert-area')
        .insertAdjacentHTML('beforeEnd', `<div class="alert ${r.alert} mb15"><strong>${r.alert}!</strong> ${r.message} <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>`);
    }).then(() => {
        save_button.innerHTML = button_html;
        save_button.disabled = false;
    });
});

</script>
<?= $footer; ?>