<?= $header; ?>
<main class="main mail-settings-page">
    <?= $nav; ?>
    <section class="workarea">
        <?= $breadcrumb; ?>
        <form id="settings-form" class="flex-row">
            <div class="size-even panel pv20 ph20">
                <!-- <div class="panel-title"><i class="fas fa-envelope fa-fw"></i> MAIL</div> -->
                <div class="panel-content">
                    <div class="row alert-area"></div>
                    <div class="row main-controls">
                        <button type="button" class="btn btn-go btn-save-settings"><i class="fas fa-save fa-fw"></i> Save</button>
                        <button type="button" class="btn btn-default btn-test"><i class="fas fa-paper-plane fa-fw"></i> Test Email</button>
                    </div>
                    <div class="row">
                        <div class="row pv25 ph25">
                            <div class="row mb15">
                                <label style="width: 150px;" for="host">SMTP Host:</label>
                                <input type="text" name="host" style="min-width: 500px;">
                                <span class="text-small ml10"><i class="fas fa-question-circle fa-fw"></i> SMTP host for mail server.</span>
                            </div>
                            <div class="row mb15">
                                <label style="width: 150px;" for="port">SMTP Port:</label>
                                <input type="text" name="port" style="min-width: 500px;">
                                <span class="text-small ml10"><i class="fas fa-question-circle fa-fw"></i> SMTP port for mail server.</span>
                            </div>
                            <div class="row mb15">
                                <label style="width: 150px;" for="username">Username:</label>
                                <input type="text" name="username" style="min-width: 500px;">
                                <span class="text-small ml10"><i class="fas fa-question-circle fa-fw"></i> Username you use to login to the email account.</span>
                            </div>
                            <div class="row mb15">
                                <label style="width: 150px;" for="password">Password:</label>
                                <input type="password" name="password" style="min-width: 500px;">
                                <span class="text-small ml10"><i class="fas fa-question-circle fa-fw"></i> Password you use to login to the email account.</span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
    </section>
</main>
<script type="text/javascript">

formfiller.init({
    form: '#settings-form',
    url: '/settings/getSettingsJson/'
});

document.querySelector('.btn-save-settings').addEventListener('click', () => {
    HTTP.post('/settings/update/mail', '#settings-form', (r) => {
        document.querySelector('.alert-area').insertAdjacentHTML('beforeEnd', '<div class="alert ' + r.alert + ' mb15"><strong>' + r.alert + '!</strong> ' + r.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
    });
});

document.querySelector('.btn-test').addEventListener('click', () => {
    HTTP.get('/settings/test-email', (r) => {
        document.querySelector('.btn-test').insertAdjacentHTML('afterEnd', '<div class="alert ' + r.alert + ' mb15"><strong>' + r.alert + '!</strong> ' + r.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
    });
});

</script>
<?= $footer; ?>