<?= $header; ?>
<main class="main server-settings-page">
    <?= $nav; ?>
    <section class="workarea">
        <form id="settings-form" class="flex-row">
            <div class="size-even panel">
                <div class="panel-title"><i class="fas fa-server fa-fw"></i> SERVER</div>
                <div class="panel-content">
                    <div class="row alert-area"></div>
                    <div class="row main-controls">
                        <button type="button" class="btn btn-go btn-save-settings"><i class="fas fa-save fa-fw"></i> Save</button>
                    </div>
                    <div class="row">
                        <div class="row pv25 ph25">
                            <div class="row">
                                <label style="width: 150px;" for="maintenance_mode">Maintenance Mode:</label>
                                <input type="checkbox" name="maintenance_mode">
                                <span class="text-small mt5"><i class="fas fa-question-circle fa-fw"></i> Maintenance mode shows a maintenance message instead of the site.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <?= $breadcrumb; ?>
    </section>
</main>
<script type="text/javascript">

formfiller.init({
    form: '#settings-form',
    url: '/settings/getSettingsJson/'
});

document.querySelector('.btn-save-settings').addEventListener('click', () => {
    HTTP.post('/settings/update/server', '#settings-form', (r) => {
        document.querySelector('.alert-area').insertAdjacentHTML('beforeEnd', '<div class="alert ' + r.alert + ' mb15"><strong>' + r.alert + '!</strong> ' + r.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
    });
});

</script>
<?= $footer; ?>