<table class="list-table">
    <tr>
        <th class="number-col">#</th>
        <th class="check-cell"><input type="checkbox" id="check-all"></th>
        <th class="btn-sort id-col">ID</th>
        <th class="btn-sort">Name</th>
        <th class="btn-sort">Email</th>
        <th class="btn-sort">Status</th>
        <th class="btn-sort">Group</th>
    </tr>
    <?php foreach ($users as $user): ?>
    <tr class="data-row">
        <td class="number-col"></td>
        <?php if ($user['user_id'] != 1): ?>
        <td class="check-cell">
            <input type="checkbox" name="user<?= $user['user_id']; ?>" value="<?= $user['user_id']; ?>" class="checkbox">
        </td>
        <?php else: ?>
        <td class="check-cell"></td>
        <?php endif ?>
        <td class="id-col"><?= $user['user_id']; ?></td>
        <td class="td"><a href="/users/user/<?= strtolower($user['firstname']); ?>-<?= strtolower($user['lastname']); ?>"><?= $user['firstname']; ?> <?= $user['lastname']; ?> (<?= $user['user_id']; ?>)</a></td>
        <td class="td"><?= $user['email']; ?></td>
        <td class="td is-online"><i class="fas fa-circle fa-fw"></i><?= $user['status']; ?></td>
        <td class="td user-group"><?= $user['group']; ?></td>
    </tr>
    <?php endforeach ?>
</table>