<?= $header; ?>
<main class="main users-user-page">
    <?= $nav; ?>
    <section class="workarea">
        <?= $breadcrumb; ?>
        <div class="row panel pv20 ph20">
            <!-- <div class="panel-title"><i class="fas fa-user fa-fw"></i> User Profile</div> -->
            <div class="panel-content" id="profile">
                <?php if (!$self): ?>
                <div class="row main-controls">
                    <input type="hidden" name="id" value="<?= $user_id; ?>" id="id">
                    <select name="group" class="pull-left btn-list-control" id="user-group">
                        <option id="group-none">Select</option>
                        <option value="0" id="group0">Locked</option>
                        <option value="1" id="group1">Un-registered</option>
                        <option value="2" id="group2">Registered</option>
                        <option value="3" id="group3">Moderator</option>
                        <option value="4" id="group4">Administrator</option>
                    </select>
                    <hr class="delete-hr">
                    <button type="button" class="btn btn-stop btn-delete" title="Delete"><i class="fas fa-trash fa-fw"></i> Delete</button>
                </div>
                <?php endif ?>
                <div class="row alert-area"></div>
                <div class="flex-row profile">
                    <div class="profile-left">
                        <div class="row">
                            <div class="profile-avatar">
                                <img src="/uploads/account/<?= $avatar; ?>" alt="Account Avatar">
                            </div>
                        </div>
                        <hr class="row profile mv35">
                        <div class="row">
                            <span style="top: -46px;">STATUS</span>
                            <div class="row mb25 is-online">
                                <i class="fas fa-circle fa-fw"></i> <p><?= $status; ?></p>
                            </div>
                            <div class="row mb25">
                                <div class="label">Member Since</div><p><?= $registered; ?> <i class="days-ago"><?= $sd_days_ago; ?></i></p>
                            </div>
                            <div class="row">
                                <div class="label">Last Active</div> <p><?= $last_active; ?> <i class="days-ago"><?= $la_days_ago; ?></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right space-even">
                        <div class="row mb30">
                            <div class="text-large" style="font-weight: 700;"><?= $firstname; ?> <?= $lastname; ?></div>
                            <em class="group" style="font-weight: 600;"><?= $group; ?></em>
                        </div>
                        <div class="row mb30 profile-links">
                            <a href="mailto:<?= $email; ?>" class="btn btn-default mr25"><i class="fas fa-comment-alt fa-fw"></i> Send Message</a> 
                            <a href="#">Report User</a>
                        </div>
                        <div class="row profile-tabs mb30">
                            <div class="profile-tab inline"><i class="fas fa-user fa-fw"></i> About</div>
                        </div>
                        <div class="row mb25">
                            <div class="row mb50" style="color: #999;">CONTACT INFORMATION</div>
                            <div class="flex-row mb20">
                                <div class="space-even label" style="width: 100px">Phone:</div> <p class="space-even"><?= $phone; ?></p>
                            </div>
                            <div class="flex-row mb20">
                                <div class="space-even label" style="width: 100px">Country:</div> <p class="space-even"><?= $country; ?></p>
                            </div>
                            <div class="flex-row mb20">
                                <div class="space-even label" style="width: 100px">Email:</div> <p class="space-even"><a href="mailto:<?= $email; ?>"><?= $email; ?></a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row mb50" style="color: #999;">BASIC INFORMATION</div>
                            <div class="flex-row mb20">
                                <div class="space-even label" style="width: 100px">Birthday:</div> <p class="space-even"><?= $birthday; ?></p>
                            </div>
                            <div class="flex-row mb20">
                                <div class="space-even label" style="width: 100px">Gender:</div> <p class="space-even"><?= $gender; ?></p>
                            </div>
                            <div class="flex-row mb20">
                                <div class="space-even label" style="width: 100px">Bio:</div> <p class="space-even"><?= $bio; ?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">

const el = document.querySelector('#id');

if (el) {
    const ids = el.value;
    document.querySelector('#user-group').addEventListener('change', async (e) => {
        const post = new URLSearchParams({ids: ids, group: e.target.value});
        const response = await fetch('/users/edit', {
            method: 'POST',
            body: post
        });  

        if (response.ok) {
            const data = await response.json();
            document.querySelector('.group').innerText = data.group;
            document.querySelector('.alert-area').innerHTML = `<div class="alert ${data.alert}"><strong>${data.alert}!</strong> ${data.message} <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>`;        
        }
    });
}

document.querySelectorAll('.is-online').forEach(element => {
    if (element.querySelector('p').innerText == 'Online') {
        element.querySelector('i').classList.add('text-green');
        element.querySelector('i').classList.remove('text-red');
    }
    if (element.querySelector('p').innerText == 'Offline') {
        element.querySelector('i').classList.add('text-red');
        element.querySelector('i').classList.remove('text-green');
    }
});

</script>
<?= $footer; ?>