<?= $header; ?>
<main class="main list-page">
    <?= $nav; ?>
    <section class="workarea">
        <?= $breadcrumb; ?>
        <div class="panel row pv20 ph20">
            <!-- <div class="panel-title"><i class="fas fa-list fa-fw"></i> USERS</a></div> -->
            <div class="panel-content">
                <div class="loading"><div class="loading-spinner"><i class="fas fa-circle-notch fa-fw fa-spin"></i></div></div>
                <div class="row alert-area"></div>
                <?= $pagination; ?>
                <?= $controls; ?>       
                <div class="row pagination-table mb10"></div>
                <?= $pagination; ?>       
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', () => {
    pagination.init({
        url: '/users/getTable',
        on_render: {makeTableAdjustments}
    }).then(response => {
        console.log(response);
        controls.userControls(); 
        controls.delete();
    });

    function makeTableAdjustments() {
        // console.log('Paginated table adjustments starting.');
        app.mobilizeTables();

        document.querySelectorAll('.is-online').forEach(element => {
            if (element.innerText == 'Online') {
                element.querySelector('i').classList.add('text-green');
                element.querySelector('i').classList.remove('text-red');
            }
            if (element.innerText == 'Offline') {
                element.querySelector('i').classList.add('text-red');
                element.querySelector('i').classList.remove('text-green');
            }
        });
        // console.log('Paginated table adjustments complete.');
    }
});
</script>
<?= $footer; ?>         