<?= $header; ?>
<main class="main status-page">
    <div class="row pt60 pt60">
        <div class="wrapper">
            <div class="row pt60">
                <h1 class="heading-large"><?= $code; ?></h1>
                <div class="row mt25">
                    Return to the <a href="/dashboard">dashboard</a>.
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    document.querySelector('body').classList.add('not-found-page-body');
</script>
<?= $footer; ?>