<?= $header; ?>
<main class="main calendar-page">
    <?= $nav; ?>
    <section class="workarea">
        <?= $breadcrumb; ?>
        <div class="row pv20 ph20">
            <div class="row panel">
                <div class="row">
                    <div class="row calendar">
                        <div class="panel-content">
                            <div class="flex-row mb10 calendar-head">
                                <div class="size-even">
                                    <button type="button" class="btn btn-go btn-new-event no-load"><i class="fas fa-plus fa-fw"></i> New Event</button>
                                </div>
                                <div class="size-even text-center">
                                    <button type="button" class="btn-prev"><i class="fas fa-caret-left fa-fw"></i></button>
                                    <span class="this-month"></span>
                                    <button type="button" class="btn-next"><i class="fas fa-caret-right fa-fw"></i></button>
                                </div>
                                <div class="size-even text-right">
                                    <button type="button" class="btn btn-default no-load btn-today"><i class="fas fa-calendar-day fa-fw"></i> Today</button>
                                    <button type="button" class="btn btn-default no-load btn-month"><i class="fas fa-calendar-alt fa-fw"></i> Month</button>
                                    <button type="button" class="btn btn-default no-load btn-week"><i class="fas fa-calendar-week fa-fw"></i> Week</button>
                                    <button type="button" class="btn btn-default no-load btn-day"><i class="fas fa-calendar-day fa-fw"></i> Day</button>
                                </div>
                            </div>
                            <table id="calendar-table"></table>
                            <div id="calendar-new-event">
                                <div id="new-event-overlay" style="transform: scale(0);"></div>
                                <form id="calendar-form" class="row">
                                    <span>New Event</span>
                                    <button type="button" class="btn-event-close"><i class="fas fa-times fa-fw"></i></button>
                                    <div class="row">
                                        <div class="flex-row mr15 mb20">
                                            <label class="label-inline mr15" style="width: 10%;">Title</label> <input type="text" name="title" id="title" style="width: 90%;">
                                        </div>
                                        <div class="flex-row mb20">
                                            <label class="label-inline mr15" style="width: 10%;">Starts</label> <input type="datetime-local" name="start_date" id="start-date" style="width: 90%;">
                                        </div>
                                        <div class="flex-row mb20">
                                            <label class="label-inline mr15" style="width: 10%;">Ends</label> <input type="datetime-local" name="end_date" id="end-date" style="width: 90%;">
                                        </div>
                                        <div class="row mb20">
                                            <label class="label-inline mr15" style="width: 10%;">Color</label> 
                                            <input type="radio" value="#b9dae2" name="color" class="cyan mr5">
                                            <input type="radio" value="#87b2e9" name="color" class="blue mr5">
                                            <input type="radio" value="#ec8181" name="color" class="red mr5">
                                            <input type="radio" value="#89cf97" name="color" class="green mr5">
                                            <input type="radio" value="#db9adb" name="color" class="purple mr5">
                                            <input type="radio" value="#ffc0cb" name="color" class="pink mr5">
                                            <input type="radio" value="#ffe279" name="color" class="yellow mr5">
                                        </div>
                                        <div class="row mb20">
                                            <label class="row">Description
                                                <textarea name="description" class="row" id="description"></textarea>
                                            </label>
                                        </div>
                                        <div class="row mb20 calendar-form-controls">
                                            <button type="button" class="btn btn-go btn-save btn-event"><i class="fas fa-save fa-fw"></i> Save Event</button>    
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', () => {
    calendar.init({
        view: 'month',
        events_url: '/calendar/get-events',
        log: true
    }).then(response => console.log(response));
});
</script>
<?= $footer; ?>