<?= $header; ?>
<main class="main account-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <div class="row panel">
            <div class="panel-title"><i class="fas fa-user-cog fa-fw"></i> <?= $fullname; ?></div>
            <div class="panel-content" id="account">
                <div class="row main-controls">
                    <button type="button" class="btn btn-go btn-save"><i class="fas fa-save fa-fw"></i> Save</button>
                </div>
                <div class="row alert-area"></div>
                <div class="flex-row mt15 account">
                    <div class="account-left">
                        <div class="row">
                            <div class="account-avatar">
                                <img src="/uploads/account/<?= $avatar; ?>" alt="Account Avatar" class="row">
                                <form action="/account/uploadAvatar" class="dropzone needsclick dz-clickable row" id="dropzone"></form>
                            </div>
                        </div>
                        <div class="avatar-alert-area"></div>
                        <hr class="row account-hr mt45 mb35">
                        <div class="row">
                            <span style="top: -45px; left: 0;">STATUS</span>
                            <div class="row mb25 is-online">
                                <i class="fas fa-circle fa-fw"></i> <p><?= $status; ?></p>
                            </div>
                        </div>
                    </div>
                    <form class="account-right pt10 space-even" id="account-form">
                        <hr class="row basic mb50">
                        <div class="flex-row mb50">
                            <span style="top: -61px; left: 0;">ACCOUNT SETTINGS</span>
                            <div class="inline mr50">
                                <label for="privacy" class="inline">Confirm Logouts:</label> 
                                <input type="checkbox" name="logout_setting">
                            </div>
                            <div class="inlinle">
                                <label for="theme" class="inline">Theme:</label>
                                <select name="theme" id="theme-select">
                                    <option hidden>Select</option>
                                    <option value="0">Light</option>
                                    <option value="1">Dark</option>
                                </select>
                            </div>
                        </div>
                        <hr class="row basic mb50">
                        <div class="row">
                            <span style="top: -61px; left: 0;">USER INFORMATION</span>
                            <div class="flex-row">
                                <div class="size-even mr25">
                                    <div class="row mb15">
                                        <label class="row required">Firstname:</label>
                                        <input type="text" name="firstname" placeholder="John" class="row">
                                    </div>
                                    <div class="row mb15">
                                        <label class="row required">Lastname:</label>
                                        <input type="text" name="lastname" placeholder="Doe" class="row">
                                    </div>
                                    <div class="row mb15">
                                        <label class="row">Phone:</label>
                                        <input type="text" name="phone" placeholder="8085551234" class="row">
                                    </div>
                                    <div class="row mb15">
                                        <label class="row required">Email:</label>
                                        <input type="email" name="email" placeholder="person@email.com" class="row">
                                    </div>
                                    <div class="row mb15">
                                        <label class="row">Birthday:</label>
                                        <div class="row">
                                            <select name="day">
                                                <option hidden value="">Day</option>
                                                <?php for ($i = 1; $i < 32; $i++): ?>
                                                <option value="<?= $i; ?>"><?= $i; ?></option>
                                                <?php endfor ?>
                                            </select>
                                            <select name="month">
                                                <option hidden value="">Month</option>
                                                <option value="01">January</option>
                                                <option value="02">February</option>
                                                <option value="03">March</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">August</option>
                                                <option value="09">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                            <select name="year">
                                                <option hidden value="">Year</option>
                                                <?php for ($i = $year; $i > 1901; $i--): ?>
                                                <option value="<?= $i; ?>"><?= $i; ?></option>
                                                <?php endfor ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb15">
                                        <label for="country" class="row">Country:</label>
                                        <div class="row">
                                            <select name="country">
                                                <option hidden>Select</option>
                                                <?php foreach ($countries as $country): ?>
                                                <option value="<?= $country['code']; ?>, <?= $country['name']; ?>"><?= $country['name']; ?></option>
                                                <?php endforeach ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb15">
                                        <label for="gender" class="row inline">Gender:</label>
                                        <label class="inline">Male <input type="radio" name="gender" value="Male" class="mr5"></label>
                                        <label class="inline">Female <input type="radio" name="gender" value="Female" class="mr5"></label>
                                        <label class="inline">Other <input type="radio" name="gender" value="Other" class="mr5"></label>
                                    </div>
                                </div>
                                <div class="size-even">
                                    <div class="row">
                                        <label class="row">Bio:</label>
                                        <textarea name="bio" class="row" style="max-width: 639px"></textarea>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <hr class="row basic mv50">
                        <div class="row mb120">
                            <span style="top: -61px; left: 0;">PASSWORD</span>
                            <div class="flex-row">
                                <div class="size-even mr15">
                                    <label class="row">Password: 
                                        <input type="password" name="password" placeholder="New password" class="row">
                                    </label>
                                </div>
                                <div class="size-even">
                                    <label class="row">Confirm Password:<input type="password" name="confirm" placeholder="Repeat your password" class="row"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', () => {
    let current_email = '';

    formfiller.init({
        form: '#account-form',
        url: '/account/getAccountJson'
    });

    validate.init({
        form: '#account-form',
        url: '/account/validate-live',
        btn: '.btn-save'
    });

    const save_button = app.captureButton('.btn-save');
    save_button.btn.addEventListener('click', async () => {
        const form_el = document.querySelector('#account-form');

        let response = null;
        const get = await fetch('/account/validate', {method: 'POST', body: new FormData(form_el)});
        if (get.ok) response = await get.json();

        const {alert, message, password_changed} = response;
        document.querySelector('.alert-area').innerHTML = `<div class="alert mb15 ${alert}"><strong>${alert}!</strong> ${message} <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>`;
        if (password_changed) {
            document.querySelector('.alert-area').innerHTML = `<div class="row mb15 alert ${alert}"><strong>${alert}!</strong> ${message} (<p class="inline"></p>)`;
            let timer = 4;
            setInterval(() => {
                timer = --timer;
                document.querySelector('.alert p').innerHTML = timer;
                if (timer <= 0) window.location.replace('/login');
            }, 1000);
        }

        app.restoreButton(save_button);
        window.scroll({top: 0, left: 0, behavior: 'smooth' });
    });

    const send_button = app.captureButton('.btn-send');
    if (send_button) {
        send_button.btn.addEventListener('click', async () => {
            const form_el = document.querySelector('#activation-form');
            const get = await fetch('/account/send', {method: 'POST', body: new FormData(form_el)});
            let response = null;
            if (get.ok) response = await get.text();
            if (response) document.querySelector('.user-form').innerHTML(response);
        });
    }

    let email = document.querySelector('[type="email"]');
    email.addEventListener('blur', async () => {
        email.value = email.value.toLowerCase().replace(/\s+/g, '').trim();
        const form_el = document.querySelector('#account-form');
        const get = await fetch('/account/isEmailTaken', {method: 'POST', body: new FormData(form_el)});
        let response = null;
        if (get.ok) response = await get.json();
        if (email.value.length > 5 && response.errors) {
            document.querySelectorAll('.alert-attached').forEach(e => e.remove());
            email.classList.add('error');
            email.insertAdjacentHTML('afterend', `<div class="alert-attached">${response.errors.email}</div>`);
        }
    });

    document.querySelector('#theme-select').addEventListener('change', async (e) => {
        const theme = e.target.value;
        const get = await fetch('/account/changeThemeSetting', {method: 'POST', body: new URLSearchParams({theme: theme})});
        let response = null;
        if (get.ok) response = await get.json();
        if (response == 0) {
            document.body.classList.remove('dark-theme');
            document.body.classList.add('light-theme');
        }
        if (response == 1) {
            document.body.classList.remove('light-theme')
            document.body.classList.add('dark-theme');
        }
    });

    if (document.querySelector('.is-online').querySelector('p').innerText == 'Online') {
        document.querySelector('.is-online').querySelector('i').style.color = 'green';
    } else {
        document.querySelector('.is-online').querySelector('i').style.color = 'red';
    }

    const textarea = document.querySelector('textarea');
    let w = textarea.parentElement.offsetWidth;
    textarea.style.cssText = `max-width: ${w}px`;
    window.addEventListener('resize', () => {
        w = textarea.parentElement.offsetWidth;
        textarea.style.cssText = `max-width: ${w}px`;
    });
});
</script>
<?= $footer; ?>