<?= $header; ?>
<main class="main logout-page">
    <div class="row">
        <div class="user-form text-center">
            <?php if ($inactive): ?>
            <div class="row pt60 text-center">
                <div class="row">
                    <div class="row alert info"><strong>Attention!</strong> You were logged out do to inactivity. <a href="/login"><i class="fas fa-times fa-fw"></i></a></div>
                </div>
            </div>
            <?php else: ?>
            <div class="row pt60 text-center">
                <div class="row">
                    <div class="alert info row"><strong>Attention!</strong> Are you sure you want to log out?</div>
                </div>
                <div class="row pt15">
                    <div class="col col dual">
                        <a href="/dashboard" class="btn btn-stop pull-left"><i class="fas fa-ban fa-fw"></i> No</a>
                    </div>
                    <div class="col col dual">
                        <a href="/logout/confirm" class="btn btn-go pull-right"><i class="fas fa-thumbs-up fa-fw"></i> Yes</a>
                    </div>
                </div>
            </div>
            <?php endif ?>
        </div>
    </div>
</main>
<?= $footer; ?>