<?= $header; ?>
<main class="main reset-page">
    <div class="row pt60 pt60">
        <div class="col user-form text-center">
            <div class="row reset-form">
                <?php if ($invalid): ?>
                <div class="alert error"><?= $invalid_token; ?><a href="/forgot"><i class="fas fa-times fa-fw"></i></a></div>
                <?php else: ?>
                <h1 class="pt15 heading-medium text-center">Reset Your Password</h1>
                <div class="alert-area"></div>
                <form id="reset-form" class="row fancy-form change-pw">
                    <div class="row fancy-row mb15">
                        <label for="password">New password</label>
                        <input type="password" name="password" required class="row">
                    </div>
                    <div class="row fancy-row mb15">
                        <label for="confirm">Repeat password</label>
                        <input type="password" name="confirm" required class="row">
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default btn-save row"><i class="fas fa-save fa-fw"></i> Save</button>
                    </div>  
                </form>
                <?php endif ?>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

fancyform.init({
    form: '#reset-form',
    buttons: ['.btn']
});

const save_button = app.captureButton('.btn-save');

save_button.btn.addEventListener('click', () => {
    HTTP.post('/account/save-new-password', '#reset-form', (response) => {
        const {alert, message} = response;
        document.querySelector('.alert-area')
        .insertAdjacentHTML('afterBegin', `<div class="row mb15 alert ${alert}"><strong> ${alert}!</strong> ${message}<br> You will be redirected in (<p class="inline"></p>)`);
        countdown();
        setInterval(countdown, 1000);
    });
});

var timer = 4;
function countdown() {
    timer = --timer;
    document.querySelector('.alert p').insertAdjacentHTML('afterBegin', timer);
    if (timer <= 0) window.location.replace('/login');
}

</script>
<?= $footer; ?>